<html>
	<head>
		<title>message board form</title>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<form action="/new" method="post">
			<input type="text" name="text" placeholder="enter text" />
			<input type="text" name="user" placeholder="enter username" />
			<button>submit</button>
		</form>
	</body>
</html>
