<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Message Details</title>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<div class="message-details">
			<h1>Message from <%= message.user %></h1>
			<span class="date"
				>Created <%= message.added.toLocaleDateString() %> at <%=
				message.added.toLocaleTimeString() %></span
			>
			<div class="message-content"><%= message.text %></div>
			<a href="/" class="back-link">â† Back to Messages</a>
		</div>
	</body>
</html>
