<html>
	<head>
		<title>message details</title>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<h1>message from <%= message.user %></h1>
		<p>created at <%= message.added %></p>
		<h3><%= message.text %></h3>
	</body>
</html>
